body {
  background-image: url("https://i.pinimg.com/736x/47/b9/14/47b91495e80426f8b2d419a23c80da59--backgrounds-final.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  margin: 0;
}

.container {
  height: 100vh;
}

.page-logo {
  width: 300px;
}

.cartaTitle {
  color: white;
  margin: auto;
}

.carta {
  display: inline-block;
  border-radius: 16px;
  margin: auto;
}

.carta-table {
  background-image: linear-gradient(#fed242, #e1fe9f, #bee753);
  padding: 8px;
  border-radius: 8px;
  box-shadow: 8px 16px 16px #00000066;
}

.tituloCarta {
  background-color: #2d6b0f;
  color: #ffffff;
  font-weight: 600;
}

.imgCarta {
  background-image: linear-gradient(#caa93d, #b3cf72, #a7ca4e);
  font-size: 10px;
}

.imgCarta img {
  max-width: 60%;
  max-height: 60%;
}

.linhaAtrb {
  background-color: #74b352;
  margin: 4px 0;
}

.tituloCarta,
.linhaAtrb {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.tituloCarta div,
.linhaAtrb div {
  margin: 0 8px;
}

.input:hover {
  background-color: #4f922b;
  color: white;
  cursor: pointer;
}

input {
  display: none;
}

:checked + .linhaAtrb {
  font-weight: bold;
  background-color: #428120;
  color: white;
}

.chaveAtrb {
  font-weight: 600;
}

.footer-info {
  color: white;
  font-size: 10px;
}
